.landing-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(255, 252, 194, 0.3) 3%,
    rgba(253, 209, 227, 0.3) 25%,
    rgba(251, 171, 255, 0.3) 47%,
    rgba(199, 154, 255, 0.3) 65%,
    rgba(160, 157, 221, 0.3) 85%,
    rgba(178, 206, 255, 0.3) 100%
  );
  display: flex;
  flex-direction: column;
}
